body {
   color: #40514E;
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;

}


h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: normal;
}

hr {
  border: dotted #D6E4E5 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

.baby:hover {
  color: #F49D1A;
}

.footer_link {
  line-height: 3;
}

.a_programmer {
  font-size: 1.50rem;
  margin-top: 0;
  width: 20%;
  margin: 0 auto;
}

.my_image {
  border-radius: 100%;
  height: 300px;
  width: 300px;

}

.mommy {
  padding-bottom: 20px;
}

.otherp {
  line-height: 2;
}

.middle-container {
  padding: 100px 0;
}

.pro {
  text-decoration: underline;
}

.contact-u {
  background: #34d991;
  background-image: -webkit-linear-gradient(top, #34d991, #184aa8);
  background-image: -moz-linear-gradient(top, #34d991, #184aa8);
  background-image: -ms-linear-gradient(top, #34d991, #184aa8);
  background-image: -o-linear-gradient(top, #34d991, #184aa8);
  background-image: linear-gradient(to bottom, #34d991, #184aa8);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-u:hover {
  background: #000203;
  background-image: -webkit-linear-gradient(top, #000203, #000000);
  background-image: -moz-linear-gradient(top, #000203, #000000);
  background-image: -ms-linear-gradient(top, #000203, #000000);
  background-image: -o-linear-gradient(top, #000203, #000000);
  background-image: linear-gradient(to bottom, #000203, #000000);
  text-decoration: none;
}

.bottom-container {
  padding-top: 150px;
  line-height: 1;
}

.yes {
  padding-left: 10px;
  color: blue;
}

.yes:hover {
  color: red;
}
.contact {
  background-color: #D6E4E5;
}
.img {
  border-radius: 100%;
  width: 15%;
  height: 200px;
}


.contactme {
  text-align: center;
}

.tables {
  margin: auto;
}

.mail {
  padding-right: 50px;
  padding-left: 250px;
}

.yesyes {
  padding: 100px 0 50px 0;
  width: 50%;
  margin: auto;
}

.hrhr {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
}

.name {
  color: #66BFBF;
  font-size: 4rem;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  width: 20%;
  margin: 0 auto;
}

.ptag {
  position: relative;
  right: 25px;
  font-weight: normal;
}

.bottom_cloud {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 200px;
  height: 75px;
}

.sports {
  border-radius: 100%;
  height: 200px;
  width: 25%;
  float: left;
  margin-right: 50px;
}

.hacking {
  border-radius: 100%;
  height: 200px;
  width: 25%;
  float: right;
}

.top {
  padding-bottom: 50px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 100px auto;
}

.top_cloud {
  position: absolute;
  top: 100px;
  right: 300px;
  width: 200px;
  height: 75px;
}

.Mountain {
  width: 50%;
}
