.top_container {
  background-color: #E4F9F5;
  position: relative;
}


.my_pfp {
  border-radius: 100%;
}


.my_sports_pic {
  border-radius: 100%;
}



body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

.contact_color_deatils {
  background-color: #F9CEEE;
}


.NAME {
  color: black;
}
.hello {
  color: black;
}

.bottom_cloud {
  position: absolute;
}

.top_cloud {
  position: absolute;
  top: 80px;
  right: 300px;
}

h1 {
  color: #66BFBF;
  font-size: 4rem;
  padding-top: 200px;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  width: 20%;
  margin: 0 auto;
}

.pro {
  text-decoration: underline;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.footer_link {
  font-family: 'Montserrat', sans-serif;
  color: orange;
  width: 25%
}






.a_programmer {
  font-size: 1.50rem;
  margin-top: 0;
  width: 20%;
  margin: 0 auto;
}



p {
  font-size: 1.4rem;
}


.years_old {
  color: red;
  padding-bottom: 80px;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
}



.table_tennis {
  border-radius: 100%;
  height: 200px;
  position: absolute;
  top: 2300px;
}

.hacking {
  border-radius: 100%;
  height: 400px;

}


/* .skills {
  background-color: #40DFEF;
} */

.footer_link_me {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.footer_link_me:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



hr {
  border-style: none;
  border-top-style: dotted ;
  border-color: grey;
  border-width: 5px;
  padding-bottom: 80px;
  width: 3%;
}

.good_at {
  padding-bottom: 70px;
}

.bottom-container {
  background-color: #40DFEF
}

.touch {
  color: #FF6363;
}


/*
.top_container {
  background-color: #E4F9F5;
  padding: 20;
  height: 870px;
}


.my_pfp {
  border-radius: 100%;
}


.my_sports_pic {
  border-radius: 100%;
}

.mountain {
  position: absolute;
  left: 360px;
  bottom: 30px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.bottom_cloud {
  position: absolute;
  left: 400px;
}

.top_cloud {
  position: absolute;
  right: 430px;
  bottom: 680px;
}

h1 {
  font-size: 40pt;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  padding-top: 200px;
  width: 20%;
  margin: 0 auto;
}

.pro {
  text-decoration: underline;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
} */
